.collection {
   display: flex;
   position: relative;
   height: 100%;
   justify-content: center;
   align-items: center;

   // .collection__photo

   &__photo {
      width: 26rem;
      height: 17.5rem;
      box-shadow: 0px 6px 27px -9px #0E112D;
      flex-shrink: 0;

      &:nth-child(1), &:nth-child(3){
         width: 19.5rem;
         height: 13rem;
         position: absolute;
         z-index: 1;
         @media (min-width: 40.625em){
            width: 39%;
            height: 35%;
         }
         @media (min-width: 66.875em){
            width: 41%;
            height: 39%;
            max-width: 22.2rem;
            max-height: 14.8rem;
         }
      }
      &:nth-child(1){
         top: 0;
         left: 0;
      }
      &:nth-child(2){
         position: relative;
         z-index: 2;
         box-shadow: 0px 6px 50px -3px #0E112D;
         width: 26.1rem;
         height: 17.4rem;
         @media (min-width: 40.625em){
            width: 51%;
            height: 46%;
         }
         @media (min-width: 66.875em){
            height: 50%;
            width: 51%;
            max-height: 20.4rem;
            max-width: 30.5rem;
         }
      }
      &:nth-child(3){
         bottom: 0;
         right: 0;
      }
   }
}