.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: gilroy;
   padding-top: 2.6rem;
   margin: 0 3rem;
   width: 100%;
   @media (min-width: 22.5em){
      margin: 0 3.5rem;
   }
   @media (min-width: 66.875em){
      padding-top: 4.6rem;
   }

   // .nav__menu-icon

   &__menu-icon {
      cursor: pointer;
      order: 2;
      &.ic-wth-txt{
         display: none;
      }
      a{
         color: black;
      }
   }

   // .nav__logo

   &__logo {
      order: 1;
      margin-left: auto;
   }

   path{
      stroke: white;
   }

   &.darken{
      .logo{
         color: black;
      }
      .logo__dash{
         background-color: black;
      }
      path{
         stroke: black;
      }
   }
   &.full{
      .nav{
         &__menu-icon.ic-wth-txt {display: flex;}
         &__logo {
            margin-left: 0;
         }
      }
   }
}
