.logo {
   display: flex;
   color: white;
   align-items: center;

   // .logo__name

   &__name {
      font-family: aclonica;
      font-size: 2.4rem;
   }

   // .logo__dash

   &__dash {
      height: 3.4rem;
      margin: 0 1.5rem;
      width: 0.1rem;
      background-color: white;
      display: none;
      @media (min-width: 22.5em){
         display: block;
      }
   }

   // .logo__descr

   &__descr {
      font-family: gilroy;
      font-size: 1.3rem;
      width: 8rem;
      line-height: 1.6rem;
      display: none;
      @media (min-width: 22.5em){
         display: block;
      }
   }
}